.show-raw-area {
  white-space: pre-wrap;
  border: 2px dashed #E7E7E7;
  padding: 3px;
}

.raw-button.active {
  backgroundColor: #08C;
  color: #FFF;
}

.raw-button {
  backgroundColor: transparent;
  color: #A7A7A7;
}